<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ganta.learningandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.ganta.learningandroid.Splash" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganta.learningandroid.StartScreenActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.START_SCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganta.learningandroid.Menu" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganta.learningandroid.AboutUs" android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganta.learningandroid.Prefs" android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ganta.learningandroid.TextPlay" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.Email" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.Data" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.OpenedClass" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.GFX" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.GFXSurface" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.SoundStuff" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.Slider" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.Tabs" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.SimpleBrowser" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.Flipper" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.SharedPrefs" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.InternalData" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.ExternalData" android:label="@string/app_name" >
        </activity>
        <activity android:name="com.ganta.learningandroid.Camera" android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>